<footer class="footer">
    <div class="footer-container">
        <section class="footer-block">
            <div class="footer-block-row">
                <ul class="group-footer">
                    <li>
                        <div class="langSelect">
                            <label for="language-selector" class="langSelect-label">
                            </label>
                            <select name="langSelector" id="language-selector" class="langSelect_select">
                                <option value="/en-br/">English</option>
                                <option value="/pt-br/">Português</option>
                            </select>
                            
                        </div>
                    </li>
                </ul>
            </div>

            <div class="footer-block-row">
                <div class="complex-row">
                    <div class="collection-container">
                        <div class="collection-title">
                            <h6 class="collection-headtitle">Saiba mais</h6>
                        </div>
                        <div class="collection-link">
                            <div class="collection-group">
                                <ul class="group-footer">
                                    <li><a href="https://disneytermsofuse.com/brazilian-portuguese/" class="link-link">Termos e Condições de Uso</a></li>
                                    <li><a href="https://www.disneyplus.com/pt-br/legal/pol%C3%ADtica-de-privacidade" class="link-link">Política de privacidade</a></li>
                                    <li><a href="https://preferences-mgr.trustarc.com/?pid=disney01&aid=disneyplus01&type=disneyplus" class="link-link">Proteção de Dados no Brasil</a></li>
                                    <li><a href="https://www.disneyplus.com/pt-br/legal/subscriber-agreement" class="link-link">Contrato de Assinatura</a></li>
                                    <li><a href="https://privacy.thewaltdisneycompany.com/pt-br/nossa-politica-de-privacidade/protecao-de-dados-no-brasil/" class="link-link">Anúncios personalizados</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="collection-container">
                        <div class="collection-title">
                            <h6 class="collection-headtitle">Ajuda</h6>
                        </div>
                        <div class="collection-link">
                            <div class="collection-group">
                                <ul class="group-footer">
                                    <li><a href="" class="link-link">Ajuda</a></li>
                                    <li><a href="" class="link-link">Dispositivos compatíveis</a></li>
                                    <li><a href="" class="link-link">Sobre a Disney+</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="collection-container">
                        <div class="collection-title">
                            <h6 class="collection-headtitle">Originais</h6>
                        </div>
                        <div class="collection-link">
                            <div class="collection-group">
                                <ul class="group-footer">
                                    <li><a href="" class="link-link">The Acolyte</a></li>
                                    <li><a href="" class="link-link">Nell, A Renegada</a></li>
                                    <li><a href="" class="link-link">X-Men '97</a></li>
                                    <li><a href="" class="link-link">Ahsoka</a></li>
                                    <li><a href="" class="link-link">The Mandalorian</a></li>
                                    <li><a href="" class="link-link">Eco</a></li>
                                    <li><a href="" class="link-link">Percy Jackson e os Olimpianos</a></li>
                                    <li><a href="" class="link-link">Loki</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="collection-container">
                        <div class="collection-title">
                            <h6 class="collection-headtitle">Movies & Series</h6>
                        </div>
                        <div class="collection-link">
                            <div class="collection-group">
                                <ul class="group-footer">
                                    <li><a href="" class="link-link">Xógum: A Gloriosa Saga do Japão</a></li>
                                    <li><a href="" class="link-link">O Urso</a></li>
                                    <li><a href="" class="link-link">Elementos</a></li>
                                    <li><a href="" class="link-link">Impuros</a></li>
                                    <li><a href="" class="link-link">Wish: O Poder dos Desejos</a></li>
                                    <li><a href="" class="link-link">Bluey</a></li>
                                    <li><a href="" class="link-link">Divertida Mente</a></li>
                                    <li><a href="" class="link-link">Os Simpsons</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="collection-container">
                        <div class="collection-title">
                            <h6 class="collection-headtitle">Coleções</h6>
                        </div>
                        <div class="collection-link">
                            <div class="collection-group">
                                <ul class="group-footer">
                                    <li><a href="" class="link-link">Todas as Coleções</a></li>
                                    <li><a href="" class="link-link">Produções Brasileiras</a></li>
                                    <li><a href="" class="link-link">Ação e Aventura</a></li>
                                    <li><a href="" class="link-link">Comédias</a></li>
                                    <li><a href="" class="link-link">Documentários</a></li>
                                    <li><a href="" class="link-link">Drama</a></li>
                                    <li><a href="" class="link-link">Musicais</a></li>
                                    <li><a href="" class="link-link">Romance</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</footer>

