<section class="container-faq">
    <h2>Perguntas Frequentes</h2>
    <div class="accordion-container">
        <button type="button" class="accordion-btn">
            <span>
                O que está incluído no Disney+?
            </span>
        </button>
    </div>
    
    <div class="accordion-container">
        <button type="button" class="accordion-btn">
            <span>
                Quais formas de pagamento posso utilizar?
            </span>
        </button>
    </div>
    
    <div class="accordion-container">
        <button type="button" class="accordion-btn">
            <span>
                Onde posso assistir ao Disney+?
            </span>
        </button>
    </div>
    
</section>
