<section class="plano">
    <h2>Que plano você vai escolher?</h2>
    <p>Você pode alterar ou cancelar seu plano quando quiser.</p>
    <div class="coluna">

        <div class="plano-box">
            <div class="conteudo-padrao">
                <img src="./assets/logo-disney2.png" alt="">
                <h6>Padrão</h6>
            </div>
            <div class="valor-padrao">
                <a href=""><span>R$ 49,90/MÊS</span></a>
                <p>(Inclui Impostos)</p>
            </div>
        </div>

        <div class="plano-box1">
            <div class="conteudo-premium">
                <img src="./assets/logo-disney2.png" alt="">
                <h6>Premium</h6>
            </div>
            <div class="valor-premium">
                <a href=""><span>R$ 62,90/MÊS</span></a>
                <p>(Inclui Impostos)</p>
            </div>
        </div>
    </div>

    <div class="coluna-caracteristica">
        <div class="esporte">
            <p>Esportes com a ESPN*</p>
        </div>
        <div class="selecao">
            <p>Seleção de canais da ESPN (ESPN e ESPN3)</p>
        </div>
        <div class="canais">
            <p>Todos os canais da ESPN, torneios exclusivos e mais de 500 eventos esportivos por mês</p>
        </div>
    </div>

    <div class="coluna-caracteristica">
        <div class="esporte">
            <p>Estreias de filmes, séries originais e clássicos da Disney, Pixar, Marvel, Star Wars, National Geographic e Star</p>
        </div>
        <div class="selecao">
            <p>✓</p>
        </div>
        <div class="canais">
            <p>✓</p>
        </div>
    </div>

    <div class="coluna-caracteristica">
        <div class="esporte">
            <p>Vídeo até 4K UHD/HDR e som Dolby Atmos***</p>
        </div>
        <div class="selecao">
            <p>—</p>
        </div>
        <div class="canais">
            <p>✓</p>
        </div>
    </div>

    <div class="coluna-caracteristica">
        <div class="esporte">
            <p>Dispositivos simultâneos</p>
        </div>
        <div class="selecao">
            <p>2</p>
        </div>
        <div class="canais">
            <p>4</p>
        </div>
    </div>

    <div class="coluna-caracteristica">
        <div class="esporte">
            <p>Downloads para assistir aos seus favoritos offline e sem demora</p>
        </div>
        <div class="selecao">
            <p>✓</p>
        </div>
        <div class="canais">
            <p>✓</p>
        </div>
    </div>

    <p>
        <span>* As transmissões ao vivo de esportes e outros eventos contêm anúncios, independente do plano escolhido.</span>
        <span>** O preço pode variar caso a assinatura seja feita através de outras plataformas. Empresas parceiras podem cobrar taxas adicionais.</span>
        <span>*** A qualidade de vídeo e áudio e os downloads estão sujeitos ao serviço de internet, aos recursos do dispositivo, ao tipo de conteúdo e ao plano.</span>
    </p>

</section>