.container {
    display: flex;
    position: absolute;
    top: 0;
    color: white;
    height: 71%;
    padding: 7px 89px;
    width: 32%;
    flex-direction: column;
    justify-content: center;
}

.container .texto-medio{
    width: 80%;
    font-size: 26px;
    font-weight: bold;
    margin: 0;
}

.plano {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px 0 155px;
}

.coluna {
    display: flex;
    flex-wrap: wrap;
    width: 82%;
    justify-content: end;
    padding: 44px 0px 0px;
    border-bottom: 2px solid #ccc;
 
}

.plano-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%; 
    padding: 10px;
    border-radius: 10px;
}

.plano-box1 {
    display: flex;
    background-color: rgba(52, 44, 44, 0.248);
    flex-direction: column;
    align-items: center;
    width: 28%; 
    padding: 10px;
    border-radius: 10px;
}

.conteudo-padrao, .conteudo-premium {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.valor-padrao a, .valor-premium a {
    color: #040714;
    text-decoration: none;
    background-color: aqua;
    padding: 16px 24px;
    border-radius: 10px;
    text-align: center;
    width: 100%; 
}

.valor-padrao a:hover, .valor-premium a:hover{
    background-color: rgb(9 210 219 / 82%);
    transition: 0.7s;

}

.valor-padrao, .valor-premium {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.plano-box img{
    width: 60%;
}


.plano-box1 img{
    width: 60%;
}

.coluna-caracteristica{
    display: flex;
    justify-content: space-evenly;
    width: 82%;
    border-bottom: 1px solid #aca0a0;
    align-items: center;
}



.coluna-caracteristica .canais{
    background-color: rgba(52, 44, 44, 0.248);
    width: 31%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.coluna-caracteristica .esporte{
    width: 40%;
}

.coluna-caracteristica .selecao{
display: flex;
justify-content: center;
align-items: center;
width: 18%;
height: 68px;
padding: 0px 95px;
}